<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">change log</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
  </ul>
</div>

<div class="container-fluid main-form">

  <div class="row">
    <div class="col-sm-3">
      <label for="name" class="cl">change log</label>
    </div>

    <div class="col-sm-6">
      <form action="">
          <div class="form-group row">

              <label for="show" class="col-sm-2 col-form-label">Show:</label>
              <div class="col-sm-6">
                  <select class="form-control">
                      <option>select</option>
                      <option>select</option>
                      <option>select</option>
                    </select>
              </div>
              <div class="col-sm-3">
                  <select class="form-control">
                      <option>select</option>
                      <option>select</option>
                      <option>select</option>
                    </select>
              </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option>select</option>
                        <option>select</option>
                        <option>select</option>
                      </select>
                </div>
            </div>
      </form>
    </div>

    <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-success">Print/Download</button>
        <button type="button" class="btn btn-sm btn-warning">Add New Changes</button>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="table-wrapper-scroll-y">

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

      </div>
</div>
