.logo-heading{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  color:  #11124e;
}
// .logo-heading:hover{
//   color:  #11124e;
// }
// .btn-success{
//   color:  #11124e;
//   font-weight: bold;
// }
.icons{
  color:  #11124e;
 // margin-top: 5px;
}
.nav-item{
  margin-right: 10px;
}
.navbar{
  margin-bottom: 40px;
}
