<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo-heading" href="#"> <img src="../images/logo.PNG" alt="."> Measures utilities</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">

    <ul class="navbar-nav mr-auto ">

      <li class="nav-item">
        <a class="nav-link" href="#"><button type="button" class="btn btn-success btn-sm ">
          FEATURES</button></a>
      </li><li class="nav-item">
          <a class="nav-link" href="#">  <button type="button" class="btn btn-light btn-sm">UTILITIES</button> </a>
        </li>


        <li class="nav-item ">
            <a class="nav-link icons" href="#">
                ?</a>
          </li>

        <li class="nav-item ">
            <a class="nav-link" href="#"><i class="material-icons icons">announcement</i></a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="#"><i class="material-icons icons"> contact_mail </i></a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="#"><i class="material-icons icons">exit_to_app </i></a>
          </li>
    </ul>
  </div>
</nav> -->


<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top navbar-secondary bg-muted">
  <div class="container-fluid">
    <a class="navbar-brand logo-heading" href="#">
          <img src="../images/logo.PNG" alt="" height="80px" width="80px">Measures utilities
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><button type="button" class="btn btn-success btn-sm ">
            FEATURES</button>
                <!-- <span class="sr-only">(current)</span> -->
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link icons" href="#"><button type="button" class="btn btn-light btn-sm">UTILITIES</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link icons" href="#">?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icons" href="#"><i class="material-icons icons">announcement</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link icons" href="#"><i class="material-icons icons"> contact_mail </i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link icons" href="#"><i class="material-icons icons">exit_to_app </i></a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

